  - platform: onewire
    names:
      28-011437afeeaa: Takka
      28-02131ac144aa: Uima-allas Tulo
      28-0114384070aa: Uima-allas
      28-0114377906aa: Aurinkenno
      28-0319a2792aa7: Ulko
      28-0316a27901fd: Sisa
      28-0316a2794874: Sauna
  - platform: time_date
    display_options:
      - 'time'
  - platform: template
    sensors:
      golf_0:
        value_template:
          "{%if (state_attr('input_datetime.golf', 'minute') | int >= 30) %}
           {{ '%0.02d:%0.02d' | format(state_attr('input_datetime.golf', 'hour') | int, state_attr('input_datetime.golf', 'minute') | int -30) }}
         {% else %}
           {{ '%0.02d:%0.02d' | format(state_attr('input_datetime.golf', 'hour') | int -1, state_attr('input_datetime.golf', 'minute') | int +30) }}
         {% endif %}"
      golf_10:
        value_template:   
           "{{ '%0.02d:%0.02d' | format(state_attr('input_datetime.golf', 'hour') | int -1, state_attr('input_datetime.golf', 'minute') | int) }}"
      golf_20:
        value_template:   
           "{{ '%0.02d:%0.02d' | format(state_attr('input_datetime.golf', 'hour') | int -2, state_attr('input_datetime.golf', 'minute') | int) }}"
      octavia_0:
        value_template:
          "{%if (state_attr('input_datetime.octavia', 'minute') | int >= 30) %}
           {{ '%0.02d:%0.02d' | format(state_attr('input_datetime.octavia', 'hour') | int, state_attr('input_datetime.octavia', 'minute') | int -30) }}
         {% else %}
           {{ '%0.02d:%0.02d' | format(state_attr('input_datetime.octavia', 'hour') | int -1, state_attr('input_datetime.octavia', 'minute') | int +30) }}
         {% endif %}"
      octavia_10:
        value_template:   
           "{{ '%0.02d:%0.02d' | format(state_attr('input_datetime.octavia', 'hour') | int -1, state_attr('input_datetime.octavia', 'minute') | int) }}"
      octavia_20:
        value_template:   
           "{{ '%0.02d:%0.02d' | format(state_attr('input_datetime.octavia', 'hour') | int -2, state_attr('input_datetime.octavia', 'minute') | int) }}"
      puhelin1:
        value_template: !secret puhelin1
        unit_of_measurement: '%'
  - platform: systemmonitor
    resources:
      - type: disk_free
        arg: /home
      - type: memory_free
      - type: load_15m
      - type: processor_use
  # - platform: rest
    # resource: http://192.168.1.163:9090/summary
    # name: Eda-bridge
  # - platform: modbus
    # scan_interval: 30
    # registers:
    # - name: Raitisilma
      # hub: enervent
      # unit_of_measurement: C
      # slave: 1
      # register: 6
      # scale: 0.1
      # precision: 1
    # - name: Tuloilma LTO
      # hub: enervent
      # unit_of_measurement: C
      # slave: 1
      # register_type: input
      # register: 7
      # scale: 0.1
      # precision: 1
   # - name: Poistoilma
      # hub: enervent
      # unit_of_measurement: C
      # slave: 1
      # register: 10
      # scale: 0.1
      # precision: 1
    # - name: Tuloilma
      # hub: enervent
      # unit_of_measurement: C
      # slave: 1
      # register: 8
      # scale: 0.1
      # precision: 1
